<section id="1">
	<img style="width: 100%; border-radius: 5px;" src="<%= place.images[0].imageURL %>">
	<div style="margin: 1% 0" class="ui grid">
		<div class="ten wide computer column">
			<h1><%= place.name %></h1>
			<p>
				<i class="user icon"></i>
				Created by:
				<a href="/user/<%= place.author.id %>">
					<%= place.author.firstName %>
				</a>
			</p>
    </div>
    <div class="six wide column">
      <p style="font-weight: bold">Created on:</p>
      <p style="margin: 0"><%= place.createdAtDate %></p>
      <p><%= place.createdAtTime %></p>
    </div>
    <div style="padding: 0" class="sixteen wide column">
      <p style="margin-top: 0em;"> Tags:
        <% place.placeType.forEach(function(placeType){ %>
          <span style="font-size: 0.8rem; margin-top: 0.25em; padding: 0.5em;" class="mini ui button"><%= placeType %></span>
        <% }); %>
      </p>
    </div>
    <div class="sixteen wide column">
			<% if(currentUser && place.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
				<a style="margin-bottom: 0;" class="ui circular lightBlue icon button" href="/places/<%= place._id %>/edit" data-tooltip="Edit your post">
					<i class="edit icon"></i>
				</a>
				<form id="delete-place-form" style="display: inline-block;" action="/places/<%= place._id %>?_method=DELETE" method="POST">
          <a style="margin-bottom: 0;" id="delete-place-form-submit" class="ui circular red icon button" data-tooltip="Permanently delete your post">
          	<i class="ban icon"></i>
        	</a>
        </form>
        <div class="ui mini modal delete-place">
          <div class="header">Confirm delete</div>
          <div class="content">
            <p>Are you sure you want to delete the post?</p>
          </div>
          <div class="actions">
            <div class="ui approve green button">Confirm</div>
            <div class="ui cancel red button">Cancel</div>
          </div>
		    </div>
      <% } %>
    </div>
	</div>
</section>
<!-- ****************************************************** -->
<div class="ui divider"></div>
<section id="2">
	<div class="demo-gallery">
    <ul id="lightgallery">
    	<% place.images.forEach(function(image) { %>
      	<li data-src=<%= image.imageURL %>>
        <a href="">
          <img class="img-responsive" src="<%= image.imageURL %>">
          <div class="demo-gallery-poster">
            <img src="https://i.imgur.com/twH1lI6.png">
          </div>
        </a>
      	</li>
      <% }) %>
    </ul>
	</div>
</section>
<!-- ****************************************************** -->
<div class="ui divider"></div>
<section id="3">
  <div id="editor"></div>
	<p style="display: none;" id="jsonDescription"><%- place.description %></p>
</section>
<!-- ****************************************************** -->
<div class="ui divider"></div>
<section id="4">
	<div id="map"></div>
</section>
<!-- ****************************************************** -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.6/css/lightgallery.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.6/js/lightgallery.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lg-thumbnail/1.1.0/lg-thumbnail.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lg-fullscreen/1.0.1/lg-fullscreen.min.js"></script>
<style>
  .ql-container.ql-snow {
    border: none;
  }
</style>
<script>
	$(document).ready(function(){
		$("#lightgallery").lightGallery(); 

    var quill = new Quill('#editor', {
      modules: {
        toolbar: false
      },
      theme: 'snow'
    });

    var descriptionContent = $('#jsonDescription').html();
    quill.setContents(JSON.parse(descriptionContent));
    quill.enable(false);

		$("#delete-place-form-submit").click(function(){
    	$('.mini.modal')
        .modal({
          onDeny    : function(){
              var e = jQuery.Event("keyup"); // or keypress/keydown
              e.keyCode = 27; // for Esc
              $(document).trigger(e); // trigger it on document  
          },
          onApprove : function() {
              $('form#delete-place-form').submit();
          },
          approve  : '.positive, .approve, .ok',
          deny     : '.negative, .deny, .cancel',
        }).modal('setting', 'transition', 'scale')
        .modal('show');
    });
	});
</script>
<script>
  function initMap() {
    var lat = <%= place.lat %>;
    var lng = <%= place.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= place.name %><br />
      <%= place.location %></strong>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('mouseover', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPQobcx-8jUUZqhJp5ffqSLfAbAIVxm-Y&callback=initMap"></script>