<div class="topnav" id="myTopnav">
  <% if(currentUser){ %>
    <p id="currentUser" style="display: none;"><%= currentUser._id %></p>
  <% } %>
  <a class="static-brand" href="/">
    <img class="logo-image" src="https://i.imgur.com/A23M1TR.png">
  </a>
  <div class="navbar-items">
    <a href="/places">Home</a>
    <a href="/aboutme">About</a>
    <div class="right">
      <% if(!currentUser){ %>
        <a class="noextra-underline" href="/login">Login</a>
        <a class="noextra-underline" href="/register">Register</a>
      <% } else { %>
        <div class="dropdown">
          <button class="dropbtn">
            <img class="ui avatar image" src="<%= currentUser.avatar %>">
            <span style="font-size: 1.1em; font-weight: bold;"><%= currentUser.firstName %></span>
          </button>
          <div class="dropdown-content">
            <a class="noextra-underline" href="/user/<%= currentUser._id %>">My Profile</a>
            <a class="noextra-underline" href="/logout">Logout</a>
          </div>
        </div>
    <% } %>
    </div>
  </div>
</div>
<div>
  <% if(error && error.length > 0) { %>
    <div class="ui compact message wrong">
      <div class="header">
        <p><%= error %></p>
      </div>
    </div>
  <% } %>
   
  <% if(success && success.length > 0) { %>
    <div class="ui compact message correct">
      <div class="header">
        <p><%= success %></p>
      </div>
    </div>
  <% } %>
</div>
<script>
/* To make active class */
$(document).ready( function(){
  var location = window.location.pathname;
  $("a[href='"+location+"']").addClass("active");
  var scrollTop = 0;
  $(window).scroll(function(){
    scrollTop = $(window).scrollTop();
    
    if (scrollTop >= 90) {
      $('#myTopnav').addClass('scrolled-nav');
      $('.topnav').css({
        "padding": "5px 0 0 0",
        "font-size": "14px",
        "border-bottom": "8px solid #303030"
      });
      $('.topnav a').css({
        "font-size": "17px",
      });
      $('.sidenav').css({
        "margin-top": "90px"
      });
    } else if (scrollTop < 90) {
      $('#myTopnav').removeClass('scrolled-nav');
      $('.topnav').css({
        "padding": "15px 0 0 0",
        "font-size": "17px",
        "border-bottom": "1px solid rgba(0,0,0,0.3)"
      });
      $('.topnav a').css({
        "font-size": "20px",
      });
      $('.sidenav').css({
        "margin-top": "120px"
      });
    }  
  }); 
});

$('.message').transition('fly down', '5s');

$('.ui.dropdown').dropdown();
</script>