<% include ../partials/header %>
<% include ../partials/navbar %>
  <div class="main">
    <div class="ui container">
      <h1>Edit <%= place.name %></h1>
      <form id="edit-place-form" class="ui form" action="/places/<%= place._id %>?_method=PUT" method="POST">
        <div class="field">
            <input type="text" name="place[name]" value="<%= place.name %>">
        </div>
        <div class="field">
            <input type="text" name="place[location]" id="location" value="<%= place.location %>">
        </div>
        <div class="field">
          <input type="hidden" id="placeType" value="<%= place.placeType %>">
        </div>
        <div class="field">
          <select multiple="" name="place[placeType]" class="ui fluid normal dropdown">
            <option value="">Place Type</option>
            <option value="One-Day Trip">One-Day Trip</option>
            <option value="Multiple-Day Trip">Multiple-Day Trip</option>
            <option value="Road Trip">Road Trip</option>
            <option value="Night Local Trip">Night Local Trip</option>
            <option value="Night Trip">Night Trip</option>
            <option value="Night Life">Night Life</option>
            <option value="Chill">Chill</option>
            <option value="Adventure">Adventure</option>
            <option value="Trekking">Trekking</option>
            <option value="Party">Party</option>
          </select>
        </div>
        <div class="field">
          <div id="editor"></div>
          <p style="display: none;" id="jsonDescription"><%- place.description %></p>
          <textarea style="display: none;" name="place[description]" id="description"></textarea>
        </div>
        <div id="autocomplete-map"></div>
        <div class="field">
            <a id="edit-place-form-submit" class="ui button">Submit!</a>
        </div>
      </form>
      <a href="/places">Go Back</a>
      <div class="ui mini modal">
        <div class="header">Confirm edit</div>
        <div class="content">
          <p>Are you sure you want to edit this post?</p>
        </div>
        <div class="actions">
          <div class="ui approve green button">Confirm</div>
          <div class="ui cancel red button">Cancel</div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  #editor {
    height: 250px;
  }
</style>
<script>
  $(document).ready(function(){
    $('.ui.normal.dropdown').dropdown({
        maxSelections: 5
      });
  })
  var placeTypeStr = $('#placeType').val();
  var placeTypeArray = placeTypeStr.split(',');
  $('.dropdown')
  .dropdown('setup menu', {
    values: [
      {
        value: 'One-Day Trip',
        text: 'One-Day Trip',
        name: 'One-Day Trip'
      },
      {
        value: 'Multiple-Day Trip',
        text: 'Multiple-Day Trip',
        name: 'Multiple-Day Trip'
      },
      {
        value: 'Road Trip',
        text: 'Road Trip',
        name: 'Road Trip'
      },
      {
        value: 'Night Local Trip',
        text: 'Night Local Trip',
        name: 'Night Local Trip'
      },
      {
        value: 'Night Trip',
        text: 'Night Trip',
        name: 'Night Trip'
      },
      {
        value: 'Night Life',
        text: 'Night Life',
        name: 'Night Life'
      },
      {
        value: 'Chill',
        text: 'Chill',
        name: 'Chill'
      },
      {
        value: 'Adventure',
        text: 'Adventure',
        name: 'Adventure'
      },
      {
        value: 'Trekking',
        text: 'Trekking',
        name: 'Trekking'
      },
      {
        value: 'Party',
        text: 'Party',
        name: 'Party'
      }
    ]
  })
  .dropdown('set selected', placeTypeArray)
</script>
<script>
  $(document).ready(function(){
    var toolbarOptions = [
      ['bold', 'italic', 'underline', 'strike'],
      [{ 'list': 'ordered'}, { 'list': 'bullet' }],
      [{ 'size': ['small', false, 'large', 'huge'] }],
      [{ 'align': [] }]
    ]
    var quill = new Quill('#editor', {
      modules: {
        toolbar: toolbarOptions
      },
      theme: 'snow'
    });

    var descriptionContent = $('#jsonDescription').html();
    quill.setContents(JSON.parse(descriptionContent));

    $('.ui.form')
      .form({
        inline : true,
        on: 'blur',
        fields: {
          name: {
            identifier: 'place[name]',
            rules: [
              {
                type   : 'empty',
                prompt : 'Please enter location\'s name'
              }
            ]
          },
          location: {
            identifier: 'place[location]',
            rules: [
              {
                type   : 'empty',
                prompt : 'Please enter a valid location'
              }
            ]
          },
          placeType: {
            identifier: 'place[placeType]',
            rules: [
              {
                type   : 'empty',
                prompt : 'Please enter atleast one tag'
              }
            ]
          }
        }
      });

    $(function() {
      $("#edit-place-form-submit").click(function(){
        var delta = quill.getContents();
        var newSomething = JSON.stringify(delta);
        $('#description').html(newSomething);
        $('.mini.modal')
          .modal({
            onDeny    : function(){
              var e = jQuery.Event("keyup"); // or keypress/keydown
              e.keyCode = 27; // for Esc
              $(document).trigger(e); // trigger it on document  
            },
            onApprove : function() {
              if(($('#description').text().length > 26)) {
                $('form#edit-place-form').submit();
              } else {
                alert("No description entered...");
              }
            },
            approve  : '.positive, .approve, .ok',
            deny     : '.negative, .deny, .cancel',
          }).modal('setting', 'transition', 'scale')
          .modal('show');
      });
    });
  });

function initMap() {
  var map = new google.maps.Map(document.getElementById('autocomplete-map'), {
    zoom: 13
  });
  var input = document.getElementById('location');

  var autocomplete = new google.maps.places.Autocomplete(input);

  autocomplete.addListener('place_changed', function() {
    var place = autocomplete.getPlace();
    if (!place.geometry) {
      // User entered the name of a Place that was not suggested and
      // pressed the Enter key, or the Place Details request failed.
      window.alert("No details available for input:");
      return;
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPQobcx-8jUUZqhJp5ffqSLfAbAIVxm-Y&&libraries=places&callback=initMap" async defer>
</script>

<% include ../partials/footer %>
