<% include ../partials/header %>
<% include ../partials/navbar %> 
<div class="main">
  <!-- Animating header and tag-line -->
  <div class="index-header">
    <h1 class="anime-text">
      <span class="text-wrapper">
        <span class="letters">Welcome to Hidden Wonderz</span>
      </span>
    </h1>
    <h2 class="tag-line">Some attractive tag-line</h2>  
  </div> 
  <div class="ui container">
    <div class="ui grid">
      <div class="ten wide column">
        <form class="ui form" action="/places" method="GET">
          <div class="ui search">
            <div class="ui icon input">
              <input style="width: 300px; border-radius: 1.2rem;" name="search" type="text" placeholder="Search locations...">
              <i class="search icon"></i>
            </div>
          </div>
        </form>
      </div>
      <div class="right aligned six wide column">
        <a class="ui labeled icon button" href="/places/new">
          <i class="plus icon"></i>
            <span class="add-button">Add new place</span>
        </a>
      </div>
    </div>
    <div class="ui horizontal divider">BLOG POSTS</div>
    <% if(noMatch !== undefined) { %>
      <h3><%= noMatch %></h3>
    <% } %>
    <div class="grid-structure">
      <div class="masonry">
        <% places.forEach(function(place){ %>
          <div class="item">
            <div class="ui cards">
              <div class="card">
                <div class="image">
                  <img src="<%= place.images[0] %>">
                </div>
                <div class="content">
                  <div class="header">
                    <%= place.name %> <br>
                    (<%= place.location %>)
                  </div>
                  <div class="description">
                    <a href="/places/<%= place._id %>" class="ui button full-width" data-tooltip="Click here for more info on <%= place.name %>" data-position="top left" data-inverted="">More Info</a>
                  </div>
                </div>
                <div class="extra content">
                  <i class="user icon"></i>Created by: <%= place.author.username %>
                </div>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
