<% include ../partials/header %>
<% include ../partials/navbar %> 
<style>
  .topnav {
    background-color: rgba(0,0,0,0);
  }
  .scroll-down {
    cursor: pointer;
  }
</style>
<ul class="image-header" id="one">
  <li></li>
  <div class="hw-header">
    <h1>Welcome to Hidden Wonderz!!!</h1>
    <h3>Let the journey begin...</h3>
  </div>
  <p>Scroll Down</p>
  <a class="scroll-down"></a>
</ul>
<div class="main" id="two">
  <div class="ui container">
    <div class="ui grid">
      <div class="sixteen wide tablet ten wide computer column">
        <form class="ui form" action="/places" method="GET">
          <div class="ui search">
            <div class="ui icon input">
              <input id="searchLocation" name="search" type="text" placeholder="Search via name or location...">
              <i class="search icon"></i>
            </div>
          </div>
        </form>
      </div>
      <div class="right aligned sixteen wide tablet six wide computer column">
        <a class="ui labeled icon button" href="/places/new">
          <i class="plus icon"></i>
            <span class="add-button">Add new place</span>
        </a>
      </div>
    </div>
    <div class="ui horizontal divider">BLOG POSTS</div>
    <% if(noMatch !== undefined) { %>
      <h3><%= noMatch %></h3>
      <a style="margin-bottom: 10px;" class="ui blue button" href="/places">Reset Search</a>
    <% } else if(search) { %>
      <h3>Search results for: <span class="ui blue header"><%= search %></span></h3>
      <a style="margin-bottom: 10px;" class="ui blue button" href="/places">Reset Search</a>
    <% } %>
    <div class="grid-structure">
      <div class="masonry">
        <% places.reverse().forEach(function(place){ %>
          <div class="item masonry-item">
            <div class="ui cards">
              <div class="card">
                <div class="image">
                  <img src="<%= place.images[0].imageURL %>">
                </div>
                <div class="content">
                  <div class="header">
                    <%= place.name %>
                  </div>
                  <div class="description">
                    <h4 style="margin: 0 0 1em 0">(<%= place.location %>)</h4>
                    <a href="/places/<%= place._id %>" class="ui blue button full-width" data-tooltip="Click here for more info on <%= place.name %>" data-position="top left">More Info</a>
                    <p style="margin-top: 1em;"> Tags:
                      <% place.placeType.forEach(function(placeType){ %>
                        <span style="font-size: 0.8rem; margin-top: 0.25em; padding: 0.5em;" class="mini ui button"><%= placeType %></span>
                      <% }); %>
                    </p>
                  </div>
                </div>
                <div class="extra content">
                  <i class="user icon"></i><span style="font-size: 12px;">Created by: <%= place.author.firstName %></span>
                </div>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
    <!-- Pagination -->
    <div id="pagination" class="ui center aligned grid">
      <div class="sixteen wide column">
        <% if (pages && pages > 0) { %>
        <div class="ui pagination menu">
          <% if (current == 1) { %>
            <div class="disabled item">First</div>
          <% } else { %>
            <a class="item" href="/places">First</a>
          <% } %>

          <% if (current == 1) { %>
            <div class="disabled item">«</div>
          <% } else { %>
            <a class="item" href="/places?page=<%= Number(current) - 1 %>">«</a>
          <% } %>
          <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
          <% if (i !== 1) { %>
            <div class="disabled item">...</div>
          <% } %>
          <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
            <% if (i == current) { %>
              <a class="active item"><%= i %></a>
            <% } else { %>
              <a class="item" href="/places?page=<%= i %>"><%= i %></a>
            <% } %>
            <% if (i == Number(current) + 4 && i < pages) { %>
              <div class="disabled item">...</div>
            <% } %>
          <% } %>
          <% if (current == pages) { %>
            <div class="disabled item">»</div>
          <% } else { %>
            <a class="item" href="/places?page=<%= Number(current) + 1 %>">»</a>
          <% } %>
          <% if (current == pages) { %>
            <div class="disabled item">Last</div>
          <% } else { %>
            <a class="item" href="/places?page=<%= pages %>">Last</a>
          <% } %>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
<script>
  $('.scroll-down').click(function(){
    $("html, body").animate({ scrollTop: $(window).height()}, 1000);
  });
  /*masonry grid*/
  function resizeGridItem(item){
    grid = document.getElementsByClassName("masonry")[0];
    rowHeight = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-auto-rows'));
    rowGap = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-row-gap'));
    rowSpan = Math.ceil((item.querySelector('.card').getBoundingClientRect().height+rowGap)/(rowHeight+rowGap));
      item.style.gridRowEnd = "span "+rowSpan;
  }

  function resizeAllGridItems(){
    allItems = document.getElementsByClassName("masonry-item");
    for(x=0;x<allItems.length;x++){
      resizeGridItem(allItems[x]);
    }
  }

  function resizeInstance(instance){
      item = instance.elements[0];
    resizeGridItem(item);
  }

  window.onload = resizeAllGridItems();
  window.addEventListener("resize", resizeAllGridItems);

</script>
<script>
  /* See related post at
https://codepen.io/Javarome/post/full-page-sliding
*/
function ScrollHandler(pageId) { 
  var page = $('#' + pageId);
  var pageStart = page.offset().top - 100;
  var pageJump = false;

  function scrollToPage() {
    pageJump = true;
    $('html, body').animate({ 
      scrollTop: pageStart 
    }, {
      duration: 1000,
      complete: function() {
        pageJump = false;
      }
    });  
  }
  window.addEventListener('wheel', function(event) {
       scroll_function();
  });

  function scroll_function() {
    var viewStart = $(window).scrollTop();
     if (!pageJump) { 
        var pageHeight = page.height();
        var pageStopPortion = pageHeight / 2;
        var viewHeight = $(window).height();

        var viewEnd = viewStart + viewHeight;
        var pageStartPart = viewEnd - pageStart;
        var pageEndPart = (pageStart + pageHeight) - viewStart;
        
        var canJumpDown = pageStartPart >= 0; 
        var stopJumpDown = pageStartPart > pageStopPortion; 
        
        var canJumpUp = pageEndPart >= 0; 
        var stopJumpUp = pageEndPart > pageStopPortion; 

        var scrollingForward = event.deltaY > 0;
        if (  ( scrollingForward && canJumpDown && !stopJumpDown) 
           || (!scrollingForward && canJumpUp   && !stopJumpUp)) {
          event.preventDefault();
          scrollToPage();
        } 
     } else {
       event.preventDefault();
     }
  }
}
new ScrollHandler('one'); 
new ScrollHandler('two');
</script>
<script>
  if($(window).width() > 991){
    var scrollTop = 0;
    $(window).scroll(function(){
      scrollTop = $(window).scrollTop();
      if (scrollTop >= 90) {
        $('.topnav').css({
          "background-color": "rgba(255,255,255,1)"
        });
      } else if (scrollTop < 90) {
        $('.topnav').css({
          "background-color": "rgba(0,0,0,0)"
        });
      }
    });
  }
</script>
<% include ../partials/footer %>
