<% include ../partials/header %>
<% include ../partials/navbar %> 
<div class="main">
	<!-- Side navigation -->
	<div class="sidenav">
		<div id="sidenav" class="ui secondary vertical pointing menu">
		  <a href="#1" class="item active">
		    Home
		  </a>
		  <a href="#2" class="item">
		    Image Gallery
		  </a>
		  <a href="#3" class="item">
		    Description
		  </a>
		</div>
	</div>
	<!-- Show page content -->
	<div class="show-content">
		<div class="ui segment">
			<div class="sections">
				<section id="1">
					<img style="width: 100%; border-radius: 5px;" src="<%= place.image %>">
					<div style="margin: 1% 0" class="ui grid">
						<div class="twelve wide column">
							<h1><%= place.name %></h1>
							<p><i class="user icon"></i>Created by: <%= place.author.username %></p>
							<% if(currentUser && place.author.id.equals(currentUser._id)){ %>
								<a class="ui circular twitter icon button" href="/places/<%= place._id %>/edit" data-tooltip="Edit your post">
									<i class="edit icon"></i>
								</a>
								<form style="display: inline-block;" action="/places/<%= place._id %>?_method=DELETE" method="POST">
				                    <button class="ui circular instagram icon button" data-tooltip="Permanently delete your post">
				                    	<i class="ban icon"></i>
				                	</button>
				                </form>
			                <% } %>
						</div>
						<div class="four wide column">
							<p style="font-weight: bold">Created on:</p>
							<p style="margin: 0"><%= place.createdAtDate %></p>
							<p><%= place.createdAtTime %></p>
						</div>
					</div>
				</section>
				<div class="ui divider"></div>
				<section id="2">
					<!-- ****************************************************** -->
					<div class="demo-gallery">
					    <ul id="lightgallery">
					      <li data-src="https://source.unsplash.com/czVtGYACOMg">
					        <a href="">
					          <img class="img-responsive" src="https://source.unsplash.com/czVtGYACOMg">
					          <div class="demo-gallery-poster">
					            <img src="https://i.imgur.com/twH1lI6.png">
					          </div>
					        </a>
					      </li>
					      <li data-src="https://source.unsplash.com/MjkEiMBOEw8">
					        <a href="">
					          <img class="img-responsive" src="https://source.unsplash.com/MjkEiMBOEw8">
					          <div class="demo-gallery-poster">
					            <img src="https://i.imgur.com/twH1lI6.png">
					          </div>
					        </a>
					      </li>
					      <li data-src="https://source.unsplash.com/czVtGYACOMg">
					        <a href="">
					          <img class="img-responsive" src="https://source.unsplash.com/czVtGYACOMg">
					          <div class="demo-gallery-poster">
					            <img src="https://i.imgur.com/twH1lI6.png">
					          </div>
					        </a>
					      </li>
					      <li data-src="https://source.unsplash.com/MjkEiMBOEw8">
					        <a href="">
					          <img class="img-responsive" src="https://source.unsplash.com/MjkEiMBOEw8">
					          <div class="demo-gallery-poster">
					            <img src="https://i.imgur.com/twH1lI6.png">
					          </div>
					        </a>
					      </li>
					    </ul>
					<!-- ****************************************************** -->
				</section>
				<div class="ui divider"></div>
				<section id="3">
					<p><%= place.description %></p>
					<p><%= place.description %></p>
					<p><%= place.description %></p>
					<p><%= place.description %></p>
					<p><%= place.description %></p>
					<p><%= place.description %></p>
					<p><%= place.description %></p>
				</section>
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.6/css/lightgallery.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.6/js/lightgallery.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lg-thumbnail/1.1.0/lg-thumbnail.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lg-fullscreen/1.0.1/lg-fullscreen.min.js"></script>
<script>
	$(document).ready(function(){
	    $(this).scrollTop(0);
	});

	var sections = $('section')
	  , nav = $('.sidenav')
	  , nav_height = $('.topnav').outerHeight()
	  , look_offset = 20
	  , mobile_offset = 20;
	
	if ($(window).width() < 991) {
		var mobile_offset = 80;
	}

	$(window).on('scroll', function () {
	  var cur_pos = $(this).scrollTop();
	  
	  sections.each(function() {
	    var top = $(this).offset().top - nav_height - look_offset,
	        bottom = top + $(this).outerHeight() ;
	    
	    if (cur_pos >= (top - look_offset - mobile_offset) && cur_pos <= (bottom - look_offset - mobile_offset)) {
	      nav.find('a').removeClass('active');
	      sections.removeClass('active');
	      
	      $(this).addClass('active');
	      nav.find('a[href="#'+$(this).attr('id')+'"]').addClass('active');
	    }
	  });
	});

	nav.find('a').on('click', function () {
	  var $el = $(this)
	    , id = $el.attr('href');
	  
	  $('html, body').animate({
	    scrollTop: $(id).offset().top - nav_height - look_offset - mobile_offset
	  }, 500);
	  
	  return false;
	});

	if ($(window).width() < 991) {
		$("#sidenav").removeClass("ui secondary vertical pointing menu").addClass("mobile-sidenav");
		$("#sidenav a").removeClass("item").addClass("mobile-item");
	}

	/* ********************** */
	$(document).ready(function() {
        $("#lightgallery").lightGallery(); 
    });
	/* ********************** */
</script>

<% include ../partials/footer %>
