<% include ../partials/header %>
<% include ../partials/navbar %> 
<div class="main">
	<!-- Side navigation -->
	<div class="sidenav">
		<div id="sidenav" class="ui secondary vertical pointing menu">
		  <a href="#1" class="item active">
		    Home
		  </a>
		  <a href="#2" class="item">
		    Image Gallery
		  </a>
		  <a href="#3" class="item">
		    Description
		  </a>
		  <a href="#4" class="item">
		    Map
		  </a>
		  <a href="#5" class="item">
		    Comments
		  </a>
		</div>
	</div>
	<!-- Show page content -->
	<div class="show-content">
		<div class="ui segment">
			<div class="sections">
				<section id="1">
					<img style="width: 100%; border-radius: 5px;" src="<%= place.image %>">
					<div style="margin: 1% 0" class="ui grid">
						<div class="twelve wide column">
							<h1><%= place.name %></h1>
							<p><i class="user icon"></i>Created by: <a href="/user/<%= place.author.id %>"><%= place.author.username %></a></p>
							<% if(currentUser && place.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
								<a class="ui circular twitter icon button" href="/places/<%= place._id %>/edit" data-tooltip="Edit your post">
									<i class="edit icon"></i>
								</a>
								<form style="display: inline-block;" action="/places/<%= place._id %>?_method=DELETE" method="POST">
				                    <button class="ui circular instagram icon button" data-tooltip="Permanently delete your post">
				                    	<i class="ban icon"></i>
				                	</button>
				                </form>
			                <% } %>
						</div>
						<div class="four wide column">
							<p style="font-weight: bold">Created on:</p>
							<p style="margin: 0"><%= place.createdAtDate %></p>
							<p><%= place.createdAtTime %></p>
						</div>
					</div>
				</section>
				<div class="ui divider"></div>
				<section id="2">
					<!-- ****************************************************** -->
					<div class="demo-gallery">
					    <ul id="lightgallery">
					      <li data-src="https://source.unsplash.com/czVtGYACOMg">
					        <a href="">
					          <img class="img-responsive" src="https://source.unsplash.com/czVtGYACOMg">
					          <div class="demo-gallery-poster">
					            <img src="https://i.imgur.com/twH1lI6.png">
					          </div>
					        </a>
					      </li>
					      <li data-src="https://source.unsplash.com/MjkEiMBOEw8">
					        <a href="">
					          <img class="img-responsive" src="https://source.unsplash.com/MjkEiMBOEw8">
					          <div class="demo-gallery-poster">
					            <img src="https://i.imgur.com/twH1lI6.png">
					          </div>
					        </a>
					      </li>
					      <li data-src="https://source.unsplash.com/czVtGYACOMg">
					        <a href="">
					          <img class="img-responsive" src="https://source.unsplash.com/czVtGYACOMg">
					          <div class="demo-gallery-poster">
					            <img src="https://i.imgur.com/twH1lI6.png">
					          </div>
					        </a>
					      </li>
					      <li data-src="https://source.unsplash.com/MjkEiMBOEw8">
					        <a href="">
					          <img class="img-responsive" src="https://source.unsplash.com/MjkEiMBOEw8">
					          <div class="demo-gallery-poster">
					            <img src="https://i.imgur.com/twH1lI6.png">
					          </div>
					        </a>
					      </li>
					    </ul>
					<!-- ****************************************************** -->
				</section>
				<div class="ui divider"></div>
				<section id="3">
					<p><%= place.description %></p>
					<p><%= place.description %></p>
					<p><%= place.description %></p>
					<p><%= place.description %></p>
					<p><%= place.description %></p>
					<p><%= place.description %></p>
					<p><%= place.description %></p>
				</section>
				<div class="ui divider"></div>
				<section id="4">
					<div id="map"></div>
				</section>
				<div class="ui divider"></div>
				<section id="5">
					<h1>Comments</h1>
					<div class="ui accordion">
						<div class="title">
							<span class="ui green button">Add Comment</span>
						</div>
						<div class="content">
							<% if(!currentUser) { %>
					          <!--If the user is not logged in, direct him to the login page-->
					          <h5>You need to login before you can comment. <a href="/login">Click here</a> to go to the login page.</h5>
					        <% } %>
					        <% if(currentUser) { %>
							<form class="ui form" action="/places/<%= place._id %>/comments" method="POST">
					            <div class="field">
					              <input type="text" disabled value="<%= currentUser.username %>">
					            </div>
					            <div class="field">
					              <textarea name="comment[text]" placeholder="Write your comment..." rows="5" cols="70"></textarea>
					            </div>
					            <div class="field">
					              <button class="ui green button">Comment</button>
					            </div>
          					</form>
          					<% } %>
						</div>
					</div>
					<!--Check if there are comments, if there are none say no comments.-->
			        <% if (place.comments.length === 0) { %>
			      		<em style="color: grey;">No comments yet.</em>
			        <% } %>
			        <div class="ui feed">
						<% place.comments.forEach(function(comment) { %>
						<div class="event">
							<div class="label">
						      <img src="https://semantic-ui.com/images/avatar/small/joe.jpg">
						    </div>
						    <div class="content">
						    	<div class="summary">
									<a><%= comment.author.username %></a> commented
									<div class="date">
										<%= moment(comment.createdAt).fromNow() %>
									</div>
									<% if (currentUser && currentUser._id.equals(comment.author.id) || currentUser && currentUser.isAdmin) { %>
									
					        		<% } %>
								</div>
								<div class="extra text">
									<%= comment.text %>
								</div>
							</div>
						</div>
							<p>
							<% if (currentUser && currentUser._id.equals(comment.author.id) || currentUser && currentUser.isAdmin) { %>
							<div class="ui accordion">
								<div class="title">
									<a style="margin: 0;" class="ui circular twitter icon button" data-tooltip="Edit your comment">
										<i class="edit icon"></i>
										Edit your comment
									</a>
									<form action="/places/<%= place._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" style="display: inline-block;">
					        			<button style="margin: 0;" class="ui circular instagram icon button" data-tooltip="Permanently delete your comment">
				                    	<i class="ban icon"></i> Delete your comment
					                	</button>
					        		</form>
								</div>
								<div class="content">
									<form class="ui form" action="/places/<%= place._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
						                <div class="field">
						                  <input type="text" disabled value="<%= currentUser.username %>">
						                </div>
						                <div class="field">
						                  <textarea name="comment[text]" rows="5" cols="70"><%= comment.text %></textarea>
						                </div>
		                				<div class="field">
							              <button class="ui yellow button">Edit Comment</button>
							            </div>
              						</form>
								</div>
							</div>
							<% } %>
							</p>
						<% }); %>
					</div>
				</section>		
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.6/css/lightgallery.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.6/js/lightgallery.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lg-thumbnail/1.1.0/lg-thumbnail.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lg-fullscreen/1.0.1/lg-fullscreen.min.js"></script>
<script>
	$(document).ready(function(){
	    $(this).scrollTop(0);
	});

	$('.ui.accordion').accordion();

	$(function() {
    	$("#accordion").accordion();
  	});


	var sections = $('section')
	  , nav = $('.sidenav')
	  , nav_height = $('.topnav').outerHeight()
	  , look_offset = 20
	  , mobile_offset = 20;
	
	if ($(window).width() < 991) {
		var mobile_offset = 80;
	}

	$(window).on('scroll', function () {
	  var cur_pos = $(this).scrollTop();
	  
	  sections.each(function() {
	    var top = $(this).offset().top - nav_height - look_offset,
	        bottom = top + $(this).outerHeight() ;
	    
	    if (cur_pos >= (top - look_offset - mobile_offset) && cur_pos <= (bottom - look_offset - mobile_offset)) {
	      nav.find('a').removeClass('active');
	      sections.removeClass('active');
	      
	      $(this).addClass('active');
	      nav.find('a[href="#'+$(this).attr('id')+'"]').addClass('active');
	    }
	  });
	});

	nav.find('a').on('click', function () {
	  var $el = $(this)
	    , id = $el.attr('href');
	  
	  $('html, body').animate({
	    scrollTop: $(id).offset().top - nav_height - look_offset - mobile_offset
	  }, 500);
	  
	  return false;
	});

	if ($(window).width() < 991) {
		$("#sidenav").removeClass("ui secondary vertical pointing menu").addClass("mobile-sidenav");
		$("#sidenav a").removeClass("item").addClass("mobile-item");
	}

	/* ********************** */
	$(document).ready(function() {
        $("#lightgallery").lightGallery(); 
    });
	/* ********************** */
</script>
<script>
  function initMap() {
    var lat = <%= place.lat %>;
    var lng = <%= place.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= place.name %><br />
      <%= place.location %></strong>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('mouseover', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPQobcx-8jUUZqhJp5ffqSLfAbAIVxm-Y&callback=initMap"></script>
<% include ../partials/footer %>
