<% include ../partials/header %>
<% include ../partials/navbar %>
<style>
	#dimmer {
		position: relative;
	}
	#dimmer:hover > a > img {
		filter: brightness(50%);
		-webkit-filter: brightness(50%);
		-moz-filter: brightness(50%);
		-o-filter: brightness(50%);
	}
	.info {
	  display: none;
	  position: absolute;
	  top: 150px;
	  left: 50%;
	  margin-left: -43.5px;
	  text-align: center;
	  font-size: 2rem;
	  font-weight: bold;
	  color: #fff;
	}
</style>
<div class="upload-loading">
  <span id="update-user"></span>
  <span class="loader"><span class="loader-inner"></span></span>
</div>
<div class="main">
	<div class="ui container">
		<div class="ui small modal">
	        <div class="header">
	          Upload Avatar
	        </div>
	        <div class="content">
	          <div class="ui grid">
	            <div class="sixteen wide column">
	              <div class="ui basic segment">
	                <img class="ui circular small image" src="<%= user.avatar %>" id="change-profile-pic">
	                <input style="display: inline-block;" type="file" accept="image/*" id="profile-file-input">
	                <a style="display: inline-block;" id="select-cropped-image" class="ui blue button">Upload</a>
	                <p>File size limit: 1.5MB</p>
	                <p id="uploading-text"></p>
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="actions">
	          <div class="ui approve green button">Save</div>
	          <div class="ui ok button">Cancel</div>
	        </div>
	    </div>
		<h1 style="text-align: center;">Update User Profile</h1>
		<div id="dimmer">
			<a style="cursor: pointer;position: relative;" id="image-update-modal">
				<img class="ui centered medium circular image" src="<%= user.avatar %>">
			</a>
			<div class="info">
				<i class="write icon"></i>Edit
			</div>
		</div>
		<form onsubmit="lowerCase()" id="updateUserForm" class="ui form" action="/user/<%= user._id %>?_method=PUT" method="POST">
			<div class="field">
			    <label>Name</label>
			    <input type="text" name="user[firstName]" value="<%= user.firstName %>">
			</div>
			<div class="field">
			    <label>Last Name</label>
			    <input type="text" name="user[lastName]" value="<%= user.lastName %>">
			</div>
			<div id="avatarUpdate"></div>
			<div class="field">
			    <label>Email</label>
			    <input type="email" name="user[email]" value="<%= user.email %>">
			</div>
			<div class="field">
			    <label>Username</label>
			    <input id="username" type="text" name="user[username]" value="<%= user.username %>">
			</div>
			<button class="ui button">Submit</button>
		</form>
	</div>
</div>
<script>
	function lowerCase() {
		var inputUsername = document.getElementById('username').value.toLowerCase();
		document.getElementById('username').value = inputUsername;
	}
</script>
<script>
	$('#image-update-modal').click(function(){
    $('.ui.small.modal')
    	.modal({
            onApprove : function() {
              var e = jQuery.Event("keyup"); // or keypress/keydown
              e.keyCode = 27; // for Esc
              $(document).trigger(e); // trigger it on document 
            },
            approve  : '.positive, .approve, .ok'
          })
		.modal('setting', 'transition', 'scale')
		.modal('show');
	});
	$('#profile-file-input').change(function(){
		var file = document.getElementById('profile-file-input').files[0];
		var file_limit = 1650000; // Size limit to approx 1.5MB
		var file_size = file.size;
		if(file_size > file_limit){
			alert("File size: " + Math.round(file_size * 100/1048576)/100 + "MB. Limit: 1.5MB");
			$('#profile-file-input').val("");
		} else {
			loadFile(event);
		}
	});
  var loadFile = function(event){
    var output = document.getElementById('change-profile-pic');
    output.src = URL.createObjectURL(event.target.files[0]);
    $('#change-profile-pic').cropper("destroy");

    $('#change-profile-pic').cropper({
      aspectRatio: 1 / 1,
      crop: function(e) {
        var imageData = $(this).cropper('getImageData');
        var croppedCanvas = $(this).cropper('getCroppedCanvas');
        $('#select-cropped-image').click(function(){
          function avatarSetting(){
            var promise = new Promise (function(fulfill, reject) {
              $('#image-update-modal').html('<img src="' + croppedCanvas.toDataURL('image/jpeg') +'" class="ui centered medium circular image">');
              $('#avatarUpdate').html('<input style="display: none;" type="text" name="user[avatarUpdateData]" value="' + croppedCanvas.toDataURL('image/jpeg') +'">');
              fulfill();
            });
            promise.then(function(){
              function uploadedText(){
              	$('#uploading-text').text("Uploaded");
              }
              setTimeout(uploadedText, 150);
            });
          }
          $('#uploading-text').text("Uploading... (Do not refresh the browser. Might take some time)");
          setTimeout(avatarSetting, 10);
        });
      }
    })
  }
  $('.ui.form').submit(function() {
    $('.upload-loading').css('visibility', 'visible');
  });
  $("#dimmer").hover(
  function(){
  		$(".info").css("display", "block");
	}, function(){
  		$(".info").css("display", "none");
});
</script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.4/cropper.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.4/cropper.min.js"></script>
<% include ../partials/footer %>