<% include ../partials/header %>
<% include ../partials/navbar %> 
<div class="main">
	<div class="ui container">
		<img class="ui small circular image" src="<%= user.avatar %>">	
		<h1><%= user.firstName %> <%= user.lastName %> (@<%= user.username %>)</h1>	
		<p>Email id: <a href="mailto:<%= user.email %>"><%= user.email %></a></p>

		<h1 style="padding: 10px 0">Posts by <%= user.firstName %>:</h1>
		<% if (places.length === 0) { %>
			<em style="color: grey;">No posts yet.</em>
			<% if (currentUser) { %>
				<% if (user.username == currentUser.username) { %>
					<p style="color: grey;">Post something exciting</p>
					<a class="ui labeled icon button" href="/places/new">
		        <i class="plus icon"></i>
		        <span class="add-button">Add new place</span>
				  </a>
				<% } %>
			<% } %>
		<% } %>
		<div class="ui special cards">
			<% places.forEach(function(place){ %>
				<div class="card">
					<div class="blurring dimmable image">
						<div class="ui dimmer">
							<div class="content">
			          <div class="center">
			          	<a class="ui inverted button" href="/places/<%= place.id %>"><%= place.name %></a>
			          </div>
			        </div>
				    </div>
						<img src="<%= place.images[0] %>">
					</div>
					<div style="display: none;" id="place-header" class="content">
						<h1 style="text-align: center;" class="header">
							<%= place.name %>
						</h1>
					</div>
				</div>
			<% }); %>
		</div>
	</div>
</div>
<script>
	$('.special.cards .image').dimmer({
	  on: 'hover'
	});
</script>
<% include ../partials/footer %>
