<% include ../partials/header %>
<% include ../partials/navbar %> 
<style>
	.sapphire {
		color: orange;
	}
	.bronze {
		color: brown;
	}
	.silver {
		color: silver;
	}
	.gold {
		color: gold;
	}
	.ruby {
		color: red;
	}
	#adminBar {
		background-color: #db2828!important 
	}
</style>
<div class="main">
	<div class="ui container">
		<div class="ui grid">
			<div class="fourteen wide tablet eight wide computer column">
				<div class="ui basic segment">
					<img class="ui small circular image" src="<%= user.avatar %>">	
					<h1><%= user.firstName %> <%= user.lastName %> (@<%= user.username %>)</h1>	
					<p>Email id: <a href="mailto:<%= user.email %>"><%= user.email %></a></p>
					<p>
					<% if (currentUser) { %>
						<% if (user.username == currentUser.username || currentUser.isAdmin) { %>
							<a class="ui blue button" href="/user/<%= user.id %>/edit">Edit Profile</a>
						<% } %>
					<% } %>	
					</p>

					<% if(!user.isAdmin) { %>
						<h3 style="display: inline-block;" class="ui <%= userScore.levelColor %> header"><i class="<%= userScore.vehicle %> icon"></i><%= userScore.level %></h3>
						<div style="display: inline-block;" class="userLevelDescription">
							<sup style="font-size: unset;"><i style="color: #7a7a7a;" class="help circle icon"></i></sup>
						</div>
						<div class="ui fluid popup transition hidden">
							<h3>Level Chart:</h3>
							<h5>1 post = 5pts : 1 comment = 1pt</h5>
							<h4 class="ui grey header"><i class="bicycle icon"></i>Newbie - 0pts</h4>
							<h4 class="ui brown header"><i class="motorcycle icon"></i>Beginner - 5pts</h4>
							<h4 class="ui teal header"><i class="car icon"></i>Casual Traveller - 15pts</h4>
							<h4 class="ui yellow header"><i class="plane icon"></i>Avid Traveller - 30pts</h4>
							<h4 class="ui red header"><i class="rocket icon"></i>Traveller for life - 50pts</h4>
						</div>
						<div class="ui tiny <%= userScore.levelColor %> progress" data-value = "<%= userScore.dataValue %>" data-total= "<%= userScore.dataTotal %>" id="score">
							<div class="bar"></div>
							<div class="label"><%= userScore.value %> pts. (To Next Level: <%= userScore.left %>)</div>
						</div>
					<% } else if(user.isAdmin) { %>
						<h3 class="ui red header"><i class="rocket icon"></i>Admin</h3>
						<div class="ui tiny red progress" data-value = "10" data-total= "10" id="score">
							<div id="adminBar" class="bar"></div>
							<div class="label"> 10,000pts. (On another level)</div>
						</div>
					<% } %>
				</div>
			</div>
		</div>
		<h1 style="padding: 10px 0">Posts by <%= user.firstName %>:</h1>
		<% if (places.length === 0) { %>
			<em style="color: grey;">No posts yet.</em>
			<% if (currentUser) { %>
				<% if (user.username == currentUser.username) { %>
					<p style="color: grey;">Post something exciting</p>
					<a class="ui labeled icon button" href="/places/new">
		        <i class="plus icon"></i>
		        <span class="add-button">Add new place</span>
				  </a>
				<% } %>
			<% } %>
		<% } %>
		<div class="ui special cards">
			<% places.reverse().forEach(function(place){ %>
				<div class="card">
					<div class="blurring dimmable image">
						<div class="ui dimmer">
							<div class="content">
			          <div class="center">
			          	<a class="ui inverted button" href="/places/<%= place.id %>"><%= place.name %></a>
			          </div>
			        </div>
				    </div>
						<img src="<%= place.images[0].imageURL %>">
					</div>
					<div style="display: none;" id="place-header" class="content">
						<h1 style="text-align: center;" class="header">
							<%= place.name %>
						</h1>
					</div>
				</div>
			<% }); %>
		</div>
	</div>
</div>
<script>
	$('.special.cards .image').dimmer({
	  on: 'hover'
	});
	$(document).ready(function(){
		$('#score').progress();
	});
	$('.userLevelDescription')
	  .popup({
	    inline     : true,
	    hoverable  : true,
	    lastResort   : 'bottom left',
	    delay: {
	      show: 100,
	      hide: 100
	    }
	  });
</script>
<% include ../partials/footer %>
